$wrapper-padding: 30px;

$reset-default: 0;
$list-style: none;

$font-family: "Open Sans", "Arial", sans-serif;
$font-size: 15px;
$line-height: 24px;

$main-heading-font: 27px;
$main-heading-line-height: 30px;

$primary-color: #444444;
$secondary-color: #000000;

$background-color: #ffffff;
$background-title: #f1f1f1;

$border: 1px solid #ececec;
