.catalog-item {
  display: block;
  margin-bottom: 30px;

  border-bottom: $border;
}

.catalog-item__img {
  display: block;
  margin-bottom: 35px;
}

.catalog-item__wrapper {
  padding-left: 28px;
  padding-right: 28px;
}

.catalog-item__title {
  margin: $reset-default;
  margin-bottom: 15px;

  font-size: 17px;
  line-height: 24px;

  color: $secondary-color;
}

.catalog-item__desc {
  margin: $reset-default;
  padding-bottom: 25px;

  font-size: 13px;
  line-height: 30px;

  border-bottom: $border;
}
