.contacts {
  margin-bottom: 38px;
}

.contacts__wrapper {
  width: 260px;
  margin: 0 auto;
}

.contacts__title {
  margin: $reset-default;
  margin-bottom: 26px;

  font-size: 18px;
  line-height: 30px;
  font-weight: bold;

  color: $secondary-color;
}

.contacts__item {
  display: flex;
  margin: $reset-default;
  margin-bottom: 29px;

  line-height: 30px;

  &:last-child {
    margin-bottom: 37px;
  }
}

.contacts__name {
  margin-right: 30px;
}

.contacts__email {
  border-bottom: 1px solid #62d1ba;
}

.contacts__map {
  height: 457px;
  margin-bottom: 40px;

  text-align: center;
}

@media (min-width: $tablet-width) {
  .contacts {
    margin-bottom: 58px;
  }

  .contacts__wrapper {
    width: 668px;
    padding-left: 50px;
    padding-right: 50px;
    margin: 0 auto;
  }

  .contacts__title {
    margin-left: -4px;
    margin-bottom: 48px;

    font-size: 43px;
    line-height: 50px;
  }

  .contacts__content-wrapper {
    display: flex;
    align-items: flex-start;
    margin-bottom: 56px;
  }

  .contacts__item {
    box-sizing: border-box;
    width: 50%;
    margin-bottom: 0;

    font-size: 17px;
  }

  .contacts__item:last-child {
    margin-bottom: 0;
  }

  .contacts__name {
    margin-right: 23px;
  }

  .contacts__map {
    margin-bottom: 55px;
  }

  .contacts__btn {
    width: 230px;
    margin: 0 auto;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    position: relative;
    width: 1050px;
    margin: 0 auto;
    margin-bottom: 106px;
  }

  .contacts__wrapper {
    box-sizing: border-box;
    width: 50%;
    padding-left: 182px;
    padding-right: 44px;
    margin: 0;
  }

  .contacts__title {
    padding-top: 71px;
    margin-bottom: 47px;

    font-size: 53px;
    line-height: 57px;
  }

  .contacts__content-wrapper {
    flex-direction: column;
    margin-bottom: 79px;
  }

  .contacts__item {
    width: auto;
    margin-bottom: 28px;
  }

  .contacts__name {
    margin-right: 25px;
  }

  .contacts__map {
    position: absolute;
    top: 0;
    right: 50px;
    width: calc(50% - 50px);
  }

  .contacts__btn {
    width: 227px;
    margin: 0;
  }
}
