.copyright {
  padding-top: 14px;
  padding-bottom: 20px;
}

.copyright__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 37px;
  margin-right: 39px;
}

.copyright__text {
  padding-top: 3px;
  padding-right: 31px;

  font-size: 19px;
  line-height: 19px;
  font-weight: bold;

  color: $secondary-color;
}

.copyright__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyright__logo {
  margin-top: 7px;

  fill: #63d1bb;
}

.copyright__link:hover .copyright__logo {
  fill: #46c1ae;
}

.copyright__link:active {
  opacity: 0.3;
}

@media (min-width: $tablet-width) {
  .copyright {
    padding-top: 0;
    padding-bottom: 0;
  }

  .copyright__wrapper {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .copyright__link {
    margin-left: 24px;
  }
}
