.features__title {
  margin: $reset-default;
  margin-bottom: 86px;

  font-size: 25px;
  line-height: 30px;

  color: $secondary-color;
}

.features__list-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.features__list {
  box-sizing: border-box;
  width: 100%;
  padding: $reset-default;
  margin: $reset-default;

  list-style: $list-style;
}

.features__item {
  margin-bottom: 84px;

  font-size: 17px;
  line-height: 20px;
  font-weight: bold;

  color: $secondary-color;
}

.features__list:last-child .features__item {
  margin-bottom: 82px;
}

.features__list:last-child .features__item:last-child {
  margin-bottom: 55px;
}

@media (min-width: $tablet-width) {
  .features {
    margin-bottom: 80px;
  }

  .features__title {
    margin-left: -4px;
    margin-bottom: 103px;

    font-size: 43px;
    line-height: 50px;
  }

  .features__list {
    width: 50%;

    &:first-child {
      padding-right: 90px;
    }
  }

  .features__item {
    margin-bottom: 111px;

    font-size: 20px;
    line-height: 22px;
  }

  .features__item:last-child {
    margin-bottom: 0;
  }

  .features__list:last-child .features__item:not(:last-child) {
    margin-bottom: 111px;
  }

  .features__list:last-child .features__item:last-child {
    margin-bottom: 0;
  }
}

@media (min-width: $desktop-width) {
  .features {
    margin-bottom: 90px;
  }

  .features__wrapper {
    padding-left: 225px;
  }

  .features__title {
    font-size: 53px;
    line-height: 57px;
  }

  .features__list-wrapper {
    width: 700px;
  }

  .features__list {
    padding-right: 0;
  }
}
