.features__title {
  margin: $reset-default;
  margin-bottom: 86px;
  margin-left: -2px;

  font-size: 25px;
  line-height: 30px;

  color: $secondary-color;
}

.features__list-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.features__list {
  box-sizing: border-box;
  width: 100%;
  padding: $reset-default;
  margin: $reset-default;

  list-style: $list-style;
}

.features__item {
  position: relative;
  margin-bottom: 83px;

  font-size: 17px;
  line-height: 20px;
  font-weight: bold;

  color: $secondary-color;

  &::before {
    content: "";
    position: absolute;
    top: -54px;
    left: 8px;

    background-repeat: no-repeat;
  }

  &--eco-friendly::before {
    top: -54px;
    left: 8px;
    width: 32px;
    height: 37px;

    background-image: url("../img/icon-feature-flower.svg");
  }

  &--price-quality::before {
    top: -53px;
    left: 0;
    width: 47px;
    height: 27px;

    background-image: url("../img/icon-feature-money.svg");
  }

  &--likes::before {
    top: -48px;
    left: 7px;
    width: 34px;
    height: 28px;

    background-image: url("../img/icon-feature-heart.svg");
  }

  &--handmade::before {
    top: -51px;
    left: 3px;
    width: 35px;
    height: 34px;

    background-image: url("../img/icon-feature-ball.svg");
  }

  &--native::before {
    top: -50px;
    left: -5px;
    width: 55px;
    height: 23px;

    background-image: url("../img/icon-feature-rocket.svg");
  }

  &--festive::before {
    top: -52px;
    left: 3px;
    width: 33px;
    height: 32px;

    background-image: url("../img/icon-feature-gift.svg");
  }
}

.features__list:last-child .features__item:last-child {
  margin-bottom: 55px;
}

@media (min-width: $tablet-width) {
  .features {
    margin-bottom: 83px;
  }

  .features__title {
    margin-left: -5px;
    margin-bottom: 103px;

    font-size: 43px;
    line-height: 50px;
  }

  .features__list {
    width: 50%;

    &:first-child {
      padding-right: 90px;
    }
  }

  .features__item {
    margin-bottom: 111px;

    font-size: 20px;
    line-height: 22px;
  }

  .features__item:last-child {
    margin-bottom: 0;
  }

  .features__list:last-child .features__item:not(:last-child) {
    margin-bottom: 111px;
  }

  .features__list:last-child .features__item:last-child {
    margin-bottom: 0;
  }
}

@media (min-width: $desktop-width) {
  .features {
    margin-bottom: 90px;
  }

  .features__wrapper {
    padding-left: 225px;
  }

  .features__title {
    font-size: 53px;
    line-height: 57px;
  }

  .features__list-wrapper {
    width: 700px;
  }

  .features__list {
    padding-right: 0;
  }
}
