.page-main__title {
  padding-top: 69px;
  padding-bottom: 75px;
  margin: $reset-default;


  font-size: $main-heading-font;
  line-height: $main-heading-line-height;
  text-align: center;

  color: $secondary-color;

  background-color: $background-title;
}

.page-main__title-wrapper {
  padding-top: 68px;

  background-image: url("../img/hero-mobile@1x.jpg");
  background-position: center -17px;
  background-size: 575px 371px;
  background-color: $secondary-color;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/hero-mobile@2x.jpg");
  }
}

.page-main__title--index {
  padding-top: 0;
  padding-bottom: 122px;
  padding-left: 10px;
  padding-right: 10px;

  background-color: transparent;
}

.page-main__wrapper {
  padding-left: 30px;
  padding-right: 30px;
}

@media (min-width: $tablet-width) {
  .page-main__wrapper {
    padding-left: 0;
    padding-right: 0;
  }

  .page-main__title {
    position: relative;
    padding-top: 95px;
    padding-bottom: 78px;
    padding-left: 16px;
    padding-right: 0;

    font-size: 43px;
    line-height: 50px;

    &--form-page {
      padding-top: 93px;
    }

    &::before {
      position: absolute;
      content: "";
      left: 0;
      bottom: -12px;
      width: 100%;
      height: 22px;

      background-image: url("../img/bg-zigzag-fill.svg");
      background-repeat: repeat-x;
      background-size: cover;
      z-index: 20;
    }
  }

  .page-main__title-wrapper {
    position: relative;
    padding-top: 153px;

    background-image: url("../img/hero-tablet@2x.jpg");
    background-position: 48% center;
    background-size: cover;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/hero-tablet@2x.jpg");
    }

    &::before {
      position: absolute;
      content: "";
      left: 0;
      bottom: -4px;
      width: 100%;
      height: 22px;

      background-image: url("../img/bg-zigzag-fill.svg");
      background-repeat: repeat-x;
      background-size: cover;
      z-index: 20;
    }
  }

  .page-main__title--index {
    padding-top: 0;
    padding-bottom: 374px;
    padding-left: 0;

    &::before {
      background-image: none;
    }
  }
}

@media (min-width: $desktop-width) {
  .page-main__title {
    padding-top: 94px;
    padding-right: 0;
    padding-bottom: 107px;
    padding-left: 19px;

    font-size: 53px;
    line-height: 57px;

    &::before {
      bottom: -21px;
      height: 42px;

      background-size: cover;
      background-position: center center;
    }
  }

  .page-main__title-wrapper {
    padding-top: 153px;

    background-image: url("../img/hero-desktop@2x.jpg");
    background-position: 50% 0%;
    background-size: 1244px 743px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/hero-desktop@2x.jpg");
    }

    &::before {
      bottom: -11px;
      height: 40px;

      background-size: 131% 40px;
      background-position: -130px center;
    }
  }

  .page-main__title--index {
    padding-top: 0;
    padding-bottom: 359px;
  }
}
