.page-footer {
  background-color: #f1f1f1;
}

.page-footer__wrapper {
  width: 260px;
  margin: 0 auto;
}

.page-footer__logo {
  display: none;
}

.page-footer__logo-img {
  width: 86px;
  height: 35px;
}

@media (min-width: $tablet-width) {
  .page-footer {
    padding-top: 48px;
    padding-bottom: 48px;
  }

  .page-footer__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 668px;
    padding-left: 50px;
    padding-right: 50px;
  }

  .page-footer__logo {
    display: block;
    margin-right: 82px;
  }

  .page-footer__logo-img {
    width: 102px;
    height: 34px;
  }
}

@media (min-width: $desktop-width) {
  .page-footer__wrapper {
    width: 1050px;
  }
}
