.page-header {
  border-bottom: 1px solid #ececec;
}

.page-header__nav {
  position: relative;
}

.page-header__logo {
  display: block;
  width: 100px;
  margin: 0 auto;
  padding-top: 22px;
  padding-bottom: 16px;

  text-align: center;

  &[href]:hover {
    opacity: 0.6;
  }

  &[href]:active {
    opacity: 0.3;
  }
}

.page-header__logo-img {
  width: 86px;
  height: 36px;
}

.page-header__toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 29px;
  right: 1px;

  background-color: transparent;
  background-image: url("../img/menu-open.svg");
  background-repeat: no-repeat;
  background-position: center center;
  border: none;
}

.page-header__toggle--close {
  background-image: url("../img/menu-close.svg");
}

.page-header__pages-list,
.page-header__user-list {
  position: absolute;
  box-sizing: border-box;
  width: 320px;
  left: -30px;
  min-height: 158px;
  margin: 0 auto;

  background-color: #ffffff;
  z-index: 20;
}

.page-header__pages-list {
  border-top: 1px solid #ececec;
}

.page-header__user-list {
  top: 237px;
}

.page-header__pages-list--no-js,
.page-header__user-list--no-js {
  display: block;
}

.page-header__pages-list--hide,
.page-header__user-list--hide {
  display: none;
}

.page-header__toggle--no-js {
  display: none;
  position: static;
}

.page-header__link {
  position: relative;
  display: block;
  padding-top: 28px;
  padding-bottom: 27px;
  padding-left: 75px;

  font-size: 17px;
  line-height: 24px;
  font-weight: bold;

  color: $secondary-color;
  background-color: #ffffff;
  border-bottom: 1px solid #ececec;
  z-index: 20;

  &[href]:hover {
    opacity: 0.6;
  }

  &[href]:active {
    opacity: 0.3;
  }
}

.page-header__icon {
  position: absolute;
  width: 18px;
  height: 18px;

  fill: #d2d2d2;
}

.page-header__link--search .page-header__icon {
  width: 18px;
  height: 18px;
  top: 31px;
  left: 33px;
}

.page-header__link--cart .page-header__icon {
  width: 21px;
  height: 18px;
  top: 30px;
  left: 33px;
}

.page-header__link:hover .page-header__icon {
  fill: #63d1bb;
}

.page-header__link:active .page-header__icon {
  fill: #63d1bb;
  opacity: 0.3;
}

.page-header__item--delivery {
  display: none;

  z-index: 20;
}

.page-header__bestsellers-list {
  display: none;
}

@media (min-width: $tablet-width) {
  .page-header {
    border-bottom: $border;
  }

  .page-header__wrapper {
    box-sizing: content-box;
    width: 668px;
    margin: 0 auto;
  }

  .page-header__nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 88px;
  }

  .page-header__logo {
    width: 200px;
    padding-top: 8px;
    padding-bottom: 0;
    margin: 0;
    margin-left: -1px;

    text-align: left;
  }

  .page-header__logo-img {
    width: 112px;
    height: 48px;
  }

  .page-header__toggle {
    display: none;
  }

  .page-header__pages-list,
  .page-header__user-list {
    position: static;
    box-sizing: border-box;
    display: flex;
    min-height: auto;
    margin-left: auto;

    background-color: transparent;
    border: none;
  }

  .page-header__pages-list {
    box-sizing: border-box;
    order: 2;
    width: 340px;
    margin: 0;

    .page-header__link {
      height: auto;
      padding-top: 17px;
      padding-bottom: 0;
      margin-right: 36px;

      font-size: $font-size;
      line-height: $line-height;
    }
  }

  .page-header__user-list {
    justify-content: flex-end;
    width: 348px;
    margin: 0;
    margin-left: auto;
  }

  .page-header__link {
    box-sizing: border-box;
    display: block;
    height: 88px;
    padding-top: 31px;
    padding-left: 0;

    background-color: transparent;
    border: none;
  }

  .page-header__link--search {
    min-width: 82px;
    border-left: $border;
    border-right: $border;
  }

  .page-header__link--search span {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  .page-header__link--cart {
    padding-left: 84px;

    text-align: right;
  }

  .page-header__link--search .page-header__icon {
    top: 38px;
    left: 32px;
  }

  .page-header__link--cart .page-header__icon {
    top: 36px;
    left: 32px;
  }

  .page-header__item--delivery {
    display: block;
    order: 2;
    margin-left: auto;
    padding-top: 18px;
  }
}

@media (min-width: $desktop-width) {
  .page-header__wrapper {
    width: 1050px;
    margin: 0 auto;
  }

  .page-header__logo {
    order: 2;
    width: auto;
    padding-top: 5px;
    padding-bottom: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .page-header__logo-img {
    width: 149px;
    height: 73px;
  }

  .page-header__pages-list {
    order: 1;
    width: 440px;

    .page-header__link {
      height: 90px;
      padding-top: 31px;
      padding-bottom: 30px;
      padding-left: 33px;
      padding-right: 36px;
      margin-right: 0;

      font-size: 17px;
    }
  }

  .page-header__item--catalog .page-header__link {
    padding-left: 0;

    border-right: $border;
  }

  .page-header__user-list {
    order: 2;
    width: 430px;
  }

  .page-header__link--cart {
    padding-right: 2px;
  }

  .page-header__bestsellers-list {
    display: flex;
    box-sizing: border-box;
    order: 2;
    width: 400px;
    margin: 0;

    .page-header__link {
      height: auto;
      padding-top: 14px;
      padding-bottom: 0;
      margin-right: 61px;

      font-size: $font-size;
      line-height: $line-height;
    }
  }

  .page-header__item--delivery {
    padding-top: 16px;
  }
}
