.popular__title-wrapper {
  margin-bottom: 22px;
}

.popular__title {
  margin: $reset-default;
  margin-bottom: 6px;

  font-size: 25px;
  line-height: 30px;

  color: $secondary-color;
}

.popular__subtitle {
  margin: $reset-default;

  font-size: 17px;
  line-height: 20px;
  font-weight: bold;

  color: #63d1bb;
  text-transform: uppercase;
}

.popular__desc-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 189px;
}

.popular__text-wrapper {
  position: relative;
}

.popular__purchase {
  position: absolute;
  bottom: -443px;
  width: 100%;
}

.popular__desc {
  margin: $reset-default;
  margin-bottom: 17px;
}

.popular__properties {
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 26px;
}

.popular__price {
  margin: $reset-default;
  margin-bottom: 25px;

  font-size: 17px;
  line-height: $line-height;
  font-weight: bold;

  text-align: center;
}

@media (min-width: $tablet-width) {
  .popular__title-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 43px;
  }

  .popular__title {
    margin-left: -2px;

    font-size: 43px;
    line-height: 50px;
  }

  .popular__subtitle {
    width: 128px;

    line-height: 17px;
    text-align: center;
  }

  .popular__desc-wrapper {
    margin-bottom: 118px;
  }

  .popular__text-wrapper,
  .popular__img {
    box-sizing: border-box;
    width: 50%;
  }

  .popular__text-wrapper {
    padding-right: 44px;
  }

  .popular__desc {
    font-size: 17px;
    line-height: 30px;
    margin-bottom: 35px;
  }

  .popular__properties {
    margin-bottom: 54px;
  }

  .popular__purchase {
    position: static;
  }

  .popular__price {
    margin-bottom: 34px;
    font-size: 20px;
  }

  .popular__img {
    padding-top: 8px;
  }
}

@media (min-width: $desktop-width) {
  .popular {
    margin-bottom: 154px;
  }

  .popular__wrapper {
    position: relative;
  }

  .popular__title-wrapper {
    position: relative;
    justify-content: flex-start;
    z-index: 2;
    margin-bottom: 48px;
  }

  .popular__title {
    order: 2;
    margin-bottom: 0;

    font-size: 53px;
    line-height: 57px;
  }

  .popular__subtitle {
    padding-top: 5px;
    padding-left: 17px;
    padding-right: 27px;
  }

  .popular__desc-wrapper {
    box-sizing: border-box;
    width: 50%;
    padding-left: 175px;
  }

  .popular__text-wrapper,
  .popular__img {
    width: auto;
  }

  .popular__text-wrapper {
    padding-right: 58px;
  }

  .popular__desc {
    margin-bottom: 47px;
  }

  .popular__properties {
    margin-bottom: 108px;
  }

  .popular__price {
    margin-bottom: 35px;
  }

  .popular__img {
    position: absolute;
    top: -61px;
    right: 50px;
  }
}
