.process {
  margin-bottom: 58px;
}

.process__wrapper {
  padding-left: $reset-default;
  padding-right: $reset-default;

  border: $border;
}

.process__desc-wrapper {
  position: relative;
}

.process__title {
  position: absolute;
  top: -221px;
  margin: $reset-default;
  padding-right: 33px;
  padding-left: 90px;

  font-size: 17px;
  line-height: $line-height;

  color: $secondary-color;
  background-image: url("/img/icon-video.svg");
  background-repeat: no-repeat;
  background-position: 33px 5px;
}

.process__video {
  position: relative;
  height: 150px;
  margin-top: 94px;
}

.process__btn {
  position: absolute;
  width: 100px;
  height: 76px;
  top: 50%;
  left: 50%;
  margin-left: -50px;
  margin-top: -38px;

  background-color: transparent;
  background-image: url("/img/icon-play.svg");
  background-repeat: no-repeat;
  border: none;
}

.process__text {
  margin: $reset-default;
  padding-top: 28px;
  padding-left: 33px;
  padding-right: 40px;
  margin-bottom: 24px;

  font-size: 13px;
  line-height: $line-height;
}

.process__buy-btn {
  margin-left: 33px;
  margin-right: 33px;
  margin-bottom: 32px;
}

@media (min-width: $tablet-width) {
  .process {
    margin-bottom: 63px;
  }

  .process__wrapper {
    padding-left: 50px;
    padding-right: 50px;
    margin: 0 auto;

    border: none;
  }

  .process__video {
    width: 668px;
    height: 455px;
    margin-top: 0;
  }

  .process__desc-wrapper {
    border: $border;
  }

  .process__title {
    position: static;
    padding-top: 38px;
    padding-left: 106px;
    margin-bottom: 32px;

    font-size: 20px;
    border-top: none;
    background-position: 40px 33px;
  }

  .process__text {
    padding-top: 0;
    padding-left: 39px;
    padding-right: 35px;
    margin-bottom: 35px;

    font-size: $font-size;
    line-height: 30px;
  }

  .process__buy-btn {
    margin-left: 41px;
    margin-right: 41px;
    margin-bottom: 45px;
  }
}

@media (min-width: $desktop-width) {
  .process {
    margin-bottom: 104px;
  }

  .process__wrapper {
    display: flex;
  }

  .process__video {
    width: 680px;
  }

  .process__desc-wrapper {
    box-sizing: border-box;
    width: 367px;
    padding-left: 80px;
    padding-right: 54px;
  }

  .process__title {
    padding-left: 0;
    padding-right: 0;
    padding-top: 94px;
    margin-bottom: 33px;

    background-position: 1px 40px;
  }

  .process__text {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 46px;

    font-size: $font-size;
  }

  .process__buy-btn {
    margin-left: 0;
    margin-right: 0;
  }
}
