.products {
  margin-bottom: 27px;
}

.products__wrapper {
  width: 260px;
  margin: 0 auto;
}

.products__list {
  padding: $reset-default;
  margin: $reset-default;

  list-style: $list-style;
}

.products__section {
  display: block;
  padding-top: 25px;
  padding-bottom: 28px;

  background-color: #63d1bb;
}

.products__section:nth-child(2n) {
  background-color: #56c3b2;
}

.products__link {
  position: relative;

  font-size: 19px;
  line-height: $line-height;
  font-weight: bold;

  color: #ffffff;
}

@media (min-width: $tablet-width) {
  .products {
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 48px;
    margin-top: -120px;
  }

  .products__wrapper {
    width: auto;
    padding-left: 35px;
    padding-right: 35px;
  }

  .products__list {
    display: flex;
    width: 668px;
    margin: 0 auto;
  }

  .products__section {
    box-sizing: border-box;
    width: 50%;
    padding-top: 28px;
    padding-bottom: 28px;
  }

  .products__link {
    font-size: 20px;
    line-height: 30px;
  }
}

@media (min-width: $desktop-width) {
  .products {
    margin-bottom: 128px;
  }

  .products__list {
    width: 1050px;
    margin: 0 auto;
  }
}
