.products {
  margin-bottom: 27px;
}

.products__wrapper {
  width: 320px;
  margin: 0 auto;
}

.products__list {
  padding: $reset-default;
  margin: $reset-default;

  list-style: $list-style;
}

.products__link {
  position: relative;
  display: block;
  padding-top: 25px;
  padding-bottom: 29px;
  padding-left: 29px;
  padding-right: 30px;

  font-size: 19px;
  line-height: $line-height;
  font-weight: bold;

  color: #ffffff;
  background-color: #63d1bb;
}

.products__section:nth-child(2n) .products__link {
  background-color: #56c3b2;
}

.products__icon {
  position: absolute;
  width: 40px;
  height: 62px;
  top: 0px;
  right: 0px;

  fill: #149080;
  opacity: 0.5;
}

.products__link--interior .products__icon {
  width: 40px;
  height: 62px;
  top: 23px;
  right: 35px;
}

.products__link--toys .products__icon {
  width: 60px;
  height: 60px;
  top: 22px;
  right: 26px;
}

.products__link:hover .products__icon {
  opacity: 0.7;
}

.products__link:active {
  span,
  .products__icon {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .products {
    position: relative;
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 39px;
  }

  .products__wrapper {
    width: 668px;
  }

  .products__list {
    display: flex;
  }

  .products__section {
    box-sizing: border-box;
    width: 50%;
  }

  .products__link {
    box-sizing: border-box;
    height: 124px;
    padding-left: 36px;
    padding-right: 36px;
    padding-top: 27px;
    padding-bottom: 12px;

    font-size: 20px;
    line-height: 30px;
  }

  .products__link:hover {
    transform: translateY(-5px);
  }

  .products__link--interior .products__icon {
    top: 28px;
  }

  .products__link--toys .products__icon {
    top: 30px;
    right: 34px;
  }
}

@media (min-width: $desktop-width) {
  .products {
    margin-bottom: 111px;
  }

  .products__wrapper {
    width: 1050px;
  }

  .products__list {
    margin: 0 auto;
  }

  .products__link {
    height: 132px;
  }

  .products__link--interior::before {
    top: 30px;
  }

  .products__link--toys::before {
    top: 31px;
    right: 35px;
  }
}
