.site-menu {
  padding: $reset-default;
  margin: $reset-default;

  list-style: $list-style;
}

.site-menu__link {
  display: block;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 45px;

  font-size: 17px;
  line-height: 24px;
  font-weight: bold;

  color: $secondary-color;
}
