.slider__list {
  position: relative;
  width: 260px;
}

.slider__item {
  display: none;
}

.slider__visible-slide:checked + .slider__item {
  display: block;
}

@media (min-width: $tablet-width) {
  .slider__list {
    width: 668px;
  }

  .slider__item {
    width: 668px;
  }
}

@media (min-width: $desktop-width) {
  .slider__list {
    width: 860px;
  }

  .slider__item {
    width: 775px;
    min-height: 200px;
  }
}
