.social__wrapper {
  padding: 0;
  margin-left: 40px;
  margin-right: 40px;

  border-bottom: 1px solid #e5e5e5;
}

.social__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: $reset-default;
  margin: $reset-default;


  list-style: $list-style;
}

.social__item {
  padding-top: 18px;
  padding-bottom: 17px;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 46px;
  margin-right: 5px;

  background-repeat: no-repeat;
  background-position: center center;

  &--instagram {
    background-image: url("../../img/icon-insta.svg");
    background-size: 22px 21px;
    background-position: 3px center;
  }

  &--facebook {
    background-image: url("../../img/icon-fb.svg");
    background-size: 15px 28px;
    background-position: 14px 6px;
  }

  &--twitter {
    background-image: url("../../img/icon-twitter.svg");
    background-size: 23px 20px;
    background-position: 19px center;
  }
}

@media (min-width: $tablet-width) {
  .social__wrapper {
    margin-left: 0;
    margin-right: 0;

    border-bottom: none;
  }

  .social__item {
    padding-top: 0;
    padding-bottom: 0;
  }

  .social__link {
    &--instagram {
      background-position: 3px 15px;
    }

    &--facebook {
      background-position: 15px 10px;
    }

    &--twitter {
      background-position: 19px 15px;
    }
  }
}
